ClienteForm/Connected Services/ServiceReference1/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddListServiceRebelde">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rebelde" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="planeta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddListServiceRebeldeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddListServiceRebeldeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRebeldesService">
        <s:complexType />
      </s:element>
      <s:element name="GetRebeldesServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRebeldesServiceResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddListServiceSoldado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="soldado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="planeta" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddListServiceSoldadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddListServiceSoldadoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSoldadosService">
        <s:complexType />
      </s:element>
      <s:element name="GetSoldadosServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSoldadosServiceResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddListServiceRebeldeSoapIn">
    <wsdl:part name="parameters" element="tns:AddListServiceRebelde" />
  </wsdl:message>
  <wsdl:message name="AddListServiceRebeldeSoapOut">
    <wsdl:part name="parameters" element="tns:AddListServiceRebeldeResponse" />
  </wsdl:message>
  <wsdl:message name="GetRebeldesServiceSoapIn">
    <wsdl:part name="parameters" element="tns:GetRebeldesService" />
  </wsdl:message>
  <wsdl:message name="GetRebeldesServiceSoapOut">
    <wsdl:part name="parameters" element="tns:GetRebeldesServiceResponse" />
  </wsdl:message>
  <wsdl:message name="AddListServiceSoldadoSoapIn">
    <wsdl:part name="parameters" element="tns:AddListServiceSoldado" />
  </wsdl:message>
  <wsdl:message name="AddListServiceSoldadoSoapOut">
    <wsdl:part name="parameters" element="tns:AddListServiceSoldadoResponse" />
  </wsdl:message>
  <wsdl:message name="GetSoldadosServiceSoapIn">
    <wsdl:part name="parameters" element="tns:GetSoldadosService" />
  </wsdl:message>
  <wsdl:message name="GetSoldadosServiceSoapOut">
    <wsdl:part name="parameters" element="tns:GetSoldadosServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="AddListServiceRebelde">
      <wsdl:input message="tns:AddListServiceRebeldeSoapIn" />
      <wsdl:output message="tns:AddListServiceRebeldeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRebeldesService">
      <wsdl:input message="tns:GetRebeldesServiceSoapIn" />
      <wsdl:output message="tns:GetRebeldesServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddListServiceSoldado">
      <wsdl:input message="tns:AddListServiceSoldadoSoapIn" />
      <wsdl:output message="tns:AddListServiceSoldadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSoldadosService">
      <wsdl:input message="tns:GetSoldadosServiceSoapIn" />
      <wsdl:output message="tns:GetSoldadosServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddListServiceRebelde">
      <soap:operation soapAction="http://tempuri.org/AddListServiceRebelde" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRebeldesService">
      <soap:operation soapAction="http://tempuri.org/GetRebeldesService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddListServiceSoldado">
      <soap:operation soapAction="http://tempuri.org/AddListServiceSoldado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSoldadosService">
      <soap:operation soapAction="http://tempuri.org/GetSoldadosService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddListServiceRebelde">
      <soap12:operation soapAction="http://tempuri.org/AddListServiceRebelde" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRebeldesService">
      <soap12:operation soapAction="http://tempuri.org/GetRebeldesService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddListServiceSoldado">
      <soap12:operation soapAction="http://tempuri.org/AddListServiceSoldado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSoldadosService">
      <soap12:operation soapAction="http://tempuri.org/GetSoldadosService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="https://localhost:44387/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="https://localhost:44387/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>